{% extends "parent.html" %}
{% block title %}People{% endblock %}
{% block head %}
{% endblock %}
{% block page_name %}Person Create/Update/Delete Page{% endblock %}
{% block body %}
    <div class="container">

        <div class="section editor">
            <div>
                <span>Person ID:</span>
                <span id="person_id"></span>
            </div>
            <label for="fname">First Name

            </label>
            <br>
            <label for="lname">Last Name

            </label>
            <br>
            <button id="create">Create</button>
            <button id="update">Update</button>
            <button id="delete">Delete</button>
            <button id="reset">Reset</button>
        </div>
        <div class="people">
            <table>
                <caption>People</caption>
                <thead>
                    <tr>
                        <th>Creation/Update Timestamp</th>
                        <th>Person</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="error">
        </div>
    </div>
    <div class="error">
    </div>
{% endblock %}